@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/public/fonts/NotoSansKR/NotoSansKR-Regular.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/public/fonts/NotoSansKR/NotoSansKR-Bold.ttf") format("woff2");
  font-weight: 700;
}
